.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: linear-gradient(to right, lightblue, Cyan);
}

.header {
    -fx-font-size: 32px;
    -fx-background-color: #666;
    -fx-text-fill: #123456;
    -fx-text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}